@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

.LoginHeroContainer{
    background-color: #244BC5;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.LoginFormContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}